type btwrite, domain;
type btwrite_exec, exec_type, file_type;

# Started by init  
init_daemon_domain(btwrite)
allow btwrite persist_drm_file:dir {search open};
allow btwrite persist_drm_file:dir {read write};
allow btwrite persist_drm_file:file {read write};
allow btwrite persist_drm_file:file {open getattr};
allow btwrite bluetooth_data_file:dir {search open read write};
allow btwrite bluetooth_data_file:file {read write};
allow btwrite bluetooth_data_file:file {open read write};
allow btwrite bluetooth_data_file:file {getattr};
allow btwrite persist_file:dir {search open read write};
allow btwrite self:capability {dac_override};
allow btwrite self:capability {dac_read_search};






