type fan, domain;
type fan_exec, exec_type, file_type;

# Started by init  
init_daemon_domain(fan)

allow fan self:capability {dac_override};

allow fan sysfs_fantest:file {open read write};
allow shell fan_exec:file {getattr execute open read};
