# Policy for ftmdaemon service
type ftmdaemon, domain;
type ftmdaemon_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ftmdaemon)

allow ftmdaemon smd_device:chr_file { read write open ioctl };
allow ftmdaemon shell_exec:file { execute read open execute_no_trans };
allow ftmdaemon system_file:file { execute_no_trans };
allow ftmdaemon qmuxd_socket:dir { write add_name search };
allow ftmdaemon qmuxd_socket:sock_file { create setattr write };
allow ftmdaemon qmuxd:unix_stream_socket { connectto };
allow ftmdaemon persist_file:dir { search };
allow ftmdaemon sysfs:file { create open write read };
allow ftmdaemon property_socket:sock_file { create  setattr write };
allow ftmdaemon init:unix_stream_socket { connectto };
allow ftmdaemon serial_device:chr_file { create open read write ioctl };
allow ftmdaemon ftmdaemon:capability { net_admin dac_override };
#allow ftmdaemon persist_file:file { create open read write ioctl };
allow ftmdaemon bluetooth_data_file:file { create open getattr setattr read write ioctl append };
#allow ftmdaemon bt_firmware_file:file { create open getattr setattr read write ioctl };
allow ftmdaemon self:netlink_socket { read setopt bind getattr write create };
allow ftmdaemon self:udp_socket { create ioctl };
allow ftmdaemon self:capability { net_raw };
allow ftmdaemon proc_net:file { read open getattr };
allow ftmdaemon bluetooth_prop:property_service { set };
allow ftmdaemon persist_bluetooth_file:dir { search };
allow ftmdaemon bluetooth_data_file:dir { search write add_name };
allow ftmdaemon bt_firmware_file:dir { search };
allow ftmdaemon persist_bluetooth_file:file { read open };
allow ftmdaemon bt_firmware_file:file { read open getattr };
allow ftmdaemon wcnss_filter:unix_stream_socket { connectto };
allow ftmdaemon diag_device:chr_file { read write open ioctl };
